// main: ../main.scss
/*--------------------------------------------------------------
# Recent Blog Posts Section
--------------------------------------------------------------*/
.recent-blog-posts {
  .post-item {
    background: var(--surface-color);
    box-shadow: 0px 2px 20px rgba(0, 0, 0, 0.1);
    transition: 0.3s;
    border-radius: 5px;
    overflow: hidden;

    .post-img {
      img {
        transition: 0.5s;
      }
    }

    .post-date {
      background-color: var(--accent-color);
      color: var(--contrast-color);
      position: absolute;
      top: 15px;
      left: 15px;
      border-radius: 5px;
      text-transform: uppercase;
      font-size: 13px;
      padding: 6px 12px;
      font-weight: 600;
    }

    .post-content {
      padding: 30px;
    }

    .post-title {
      color: var(--heading-color);
      font-size: 20px;
      font-weight: 600;
      transition: 0.3s;
      margin-bottom: 20px;
    }

    .readmore {
      color: var(--accent-color);
      display: flex;
      align-items: center;
      font-weight: 700;
      line-height: 1;
      transition: 0.3s;
      text-decoration: underline;
      padding-bottom: 5px;

      i {
        line-height: 0;
        margin-left: 6px;
        font-size: 16px;
      }
    }

    &:hover {

      .post-title,
      .readmore {
        color: var(--accent-color);
      }

      .post-img img {
        transform: scale(1.1)
      }
    }
  }
}